@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', 'Roboto', 'Jost';
    text-align: center;
    background: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
    cursor: pointer;
}

.sprites-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#player {
    width: 200px;
    height: 120px;
    transform: translateY(35px);
}

#monster {
    width: 200px;
    height: 250px;
    margin: 50px auto;
    cursor: pointer;
    transition: 0.1s ease;
    border-radius: 30px;
    transform: rotateY(180deg);
}

#dogGif {
    position: absolute;
    scale: 0.4;
    bottom: 10px;
    left: 10px;
}

.sprites-container:active>#monster {
    transform: scale(0.90) rotateY(190deg);
}

#health-bar {
    width: 300px;
    height: 20px;
    background: #555;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

#health {
    height: 100%;
    background: #e74c3c;
    width: 100%;
    transition: width 0.2s;
}

#info {
    margin-top: 20px;
    font-size: 1.2em;
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    border: gray 2px solid;
    background-color: #222;
    color: gray;
    transition: 0.2s ease;
}

button:hover {
    background-color: #333;
    color: #fff;
}

#reset-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#reset-icon svg {
    width: 100%;
    height: 100%;
    fill: #333;
}

#reset-icon:hover svg {
    fill: #555;
}

#coin-container {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.5em;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

#coin-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#coin-count {
    font-size: 1em;
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
}

#upgrade-btn-container {
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0.7;
}

#upgrade-damage-btn,
#upgrade-coin-btn,
#upgrade-pet-btn,
#upgrade-chestplate-btn,
#upgrade-helmet-btn,
#upgrade-boots-btn {
    position: relative;
    border: 2px solid rgb(177, 106, 1);
    color: rgb(177, 106, 1);
    padding: 30px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 160px;

}

#upgrade-damage-btn:hover,
#upgrade-coin-btn:hover,
#upgrade-pet-btn:hover,
#upgrade-chestplate-btn:hover,
#upgrade-helmet-btn:hover,
#upgrade-boots-btn:hover {
    background-color: rgba(255, 159, 15, 0.164);
    color: rgb(247, 154, 16);
}

#sword {
    width: 70px;
    transform: rotateZ(-90deg);
}

#coin,
#companion {
    width: 70px;
}

.stats-container {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.stats-container span {
    color: rgb(247, 154, 16);
    font-weight: 700;
}

#armour-btn-container {
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0.7;
}

#armour-btn-container img {
    width: 75px;
}